/* :root {
  --black: #000;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 450px;
  min-height: 250px;
  padding: 2rem;
  top: 20%;
  background-color: white;
  border-radius: 15px;
}

button {
  padding: 0.7rem 1.4rem;
  color: white;
  border: none;
  border-radius: 5px;
  background: black;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
}

.primary {
  background: red;
}

.secondary {
  background: yellow;
}

.tertiary {
  background: green;
} */

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.modal {
  border: 2px solid black;
  color: blue;
  background-color: red;
  width: 600px;
  height: 400px;
  padding: 20px 30px;
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 20%;
}
.modal1 {
  border: 2px solid black;
  color: blue;
  background-color: cyan;
  width: 600px;
  height: 400px;
  padding: 20px 30px;
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 30%;
}
